.header {
    width: 60%;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: white;
}

.logo {
    border-radius: 20px;
}

.appName {
    font-weight: bolder;
    font-size: 200%;
    color: #434040df;
}

.theme div {
    width: 20px;
    height: 20px;
    border: 1px solid #dfdfdfdf;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}

.theme .themeActive {
    width: 30px;
    height: 30px;
}

.light {
    background-color: white;
}

.dark {
    background-color: black;
}

.medium {
    background-color: #efefefef;
}

.gOne {
    background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);
}

.gTwo {
    background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
    background-blend-mode: soft-light, screen, darken, normal;
}

.gThree {
    background: linear-gradient(125deg, #FFFFFF 0%, #000000 100%), linear-gradient(200deg, #FFD9E8 0%, #FFD9E8 50%, #DE95BA calc(50% + 1px), #DE95BA 60%, #7F4A88 calc(60% + 1px), #7F4A88 75%, #4A266A calc(75% + 1px), #4A266A 100%), linear-gradient(113deg, #FFD9E8 0%, #FFD9E8 40%, #DE95BA calc(40% + 1px), #DE95BA 50%, #7F4A88 calc(50% + 1px), #7F4A88 70%, #4A266A calc(70% + 1px), #4A266A 100%);
    background-blend-mode: overlay, overlay, normal;
}